/* AXES */
/* ticks */
.axis line{
stroke: #706f6f;
stroke-width: 0.5;
shape-rendering: crispEdges;
}

/* axis contour */
.axis path {
stroke: #706f6f;
stroke-width: 0.7;
shape-rendering: crispEdges;
}

/* axis text */
.axis text {
fill: #2b2929;
font-family: Georgia;
font-size: 120%;
}

/* LINE CHART */
path.line {
fill: none;
stroke: #ed3700;
}

path.Adventure {
fill: none;
stroke: #2b2929;
stroke-dasharray: 2;
}

path.vote_count {
fill: none;
stroke: #9c9c9c;
stroke-dasharray: 6;
}

.serie_label {
fill: #2b2929;
font-family: Georgia;
font-size: 80%;
}

.tooltip {
fill: #2b2929;
font-family: Georgia;
font-size: 150%;
}

div.tooltip {
        position: absolute;
        text-align: center;
        padding: 5px;
        font-size: 12px;
        font-weight: bold;
        border-radius: 8px;
    }
    
.tooltip p {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans";
    margin: 0;
}

label {
    font-size: 13px;
}

#main {
    margin: 20px;
}

