* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85); 
  background-color: #000000;
  font-family: 'Varela';
} 

.movies_heading {
  font-family: "Lobster";
  text-align: center;
  font-size: 4vh;
  color: rgba(255, 255, 255, 0.98);
  padding: 1vh 0vh 1vh 0vh;
  height: 7vh;
}

.filter_box {
  height: 30vh;
}

.controls_column {
  float: left;
  width: 18.2%;
  margin: 0rem 0.6% 0rem 0rem;
}

.viz_column {
  float: left;
  width: 80%;
  margin: 0rem 0.6% 0rem 0.6%;
}

.timeline_heading, .Bubble_heading {
  font-family: 'Yeseva One';
  font-size: 2.3vh;
}

 .Y_axis p, .Genres_heading p {
  font-family: 'Yeseva One';
  font-size: 2vh;
  margin: 0.8vh 0vh 1.3vh 0vh;
}

 .Genres p, .filter_heading p{
  font-family: 'Yeseva One';
  font-size: 2vh;
  margin: 1.4vh 0vh 1.3vh 0vh;
}

.Color_heading p {
  font-family: 'Yeseva One';
  font-size: 2vh;
  margin: 1.2vh 0vh 1.3vh 0vh;
}

.Y_axis, .Genres, .filter_box_box, .Color_heading, .Genres_heading{
  height: 7.6vh;
}

.timeline_control {
  background-color: rgba(51, 37, 114, 0.4);
  border-radius: 5px;
  height: 39vh;
  margin: 0rem 0rem 1vh 0rem;
  padding: 1.5vh 1.7vh 1.7vh 1.7vh;
}

.filters {
  background-color: rgba(51, 37, 114, 0.4);
  border-radius: 5px;
  height: 58vh;
  margin: 1vh 0rem 1vh 0rem;
  padding: 1.5vh 1.7vh 1.7vh 1.7vh;
}

.timeline_viz {
  border-radius: 5px;
  background-color: rgba(51, 37, 114, 0.2);
  height: 36.59vh;
  margin: 0vh 0rem 1vh 0rem;
  padding: 1.7vh 1.7vh 0vh 1.7vh;
  float:left;
  width: 100%;
}

.svg1 {
  width : 100%;
  height: 100%;
}

#svg2 {
  display: table;
  margin: auto;
  margin-top: 0.5vh;
  height: 58vh;
  width: 58vh;
}

.graph_viz {
  border-radius: 5px;
  background-color: rgba(51, 37, 114, 0.2);
  height: 60.41vh;
  margin: 1vh 0rem 1vh 0rem;
  width: 50%;
  float:left;
}

.welcome_div {
  width: 49.4%;
  height: 60.41vh;
  border-radius: 5px;
  margin: 1vh 0.6% 1vh 0rem;
  float:left;
  background-color: rgba(51, 37, 114, 0.2);
}

.viz_help {
  height: 41.5vh;
  margin-top: 2vh;
  padding-top: 1vh;
  font-family: 'Nunito';
  color: rgba(255, 255, 255, 0.85);
  font-size: 2vh;
  /*background-color: green;*/
}

.viz_help p{
  margin-left: 2.5%;
  font-size: 2vh;
  margin-bottom: 0vh;
}

.help_box_holder {
  height: 36.5vh;
  padding: 1vh 1.5% 0vh 0vw;
}

.help_box {
  width: 23.5%;
  height: 10.833vh;
  margin: 0vh 0vw 1vh 1.5%;
  background-color: rgba(24, 18, 53,0.9);
  float: left;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.6vh;
  padding-left: 0.9vw;
  padding-right: 0.9vw;
}

.help_box:hover {
  background-color: rgba(85, 71, 148,0.8);
  cursor: pointer;
}

#overlay_info { 
  height: 41.5vh;
  max-height: 41.5vh;
  border-radius: 5px;
  width: 0; /* Stay in place */
  z-index: 10; /* Sit on top */
  position: fixed;
  left: 0;
  top: 20vh;
  background-color: #181235; /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.7s; 
  font-family: 'Nunito';
  color: rgba(255, 255, 255, 0.85);
}

#instructions_overlay {
  height: 34.7vh;
  width: 0%;
  z-index: 8;
  position: fixed;
  border-radius: 5px;
  left: 1.1%;
  top: 25.7vh;
  font-family: 'Nunito';
  transition: 0.7s; 
  background-color: rgba(24, 18, 53);
  overflow-y: hidden;
}

.instructions {
  width: 50%;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Nunito';
  float: left;
  height: 34.7vh;
  padding: 1.5vh 3% 1.5vh 3%;
  display: flex;
  justify-content: center;
  transition: 0s; 
  align-items: center;
}

.instructions p {
  opacity: 0;
  transition: 0.7s; 
  margin: 0vh;
  font-size: 1.8vh;
}

#image_tut {
  width: 50%;
  float: left;
  height: 34.7vh;
  padding: 0vh 3% 1.5vh 3%;
  transition: 0.7s; 
}

#ins_text {
  white-space: pre-line;
}

.info_title {
  margin: 2vh 1vw 1vh 1.4vw;
  font-size: 3vh;
}

.info_tagline {
  margin: 0vh 1vw 1.5vh 1.4vw;
  font-size: 2vh;
}

.info_bar {
  margin: 0vh 1vw 1.5vh 1.4vw;
  font-size: 2vh;
}

.info_overview {
  margin: 0vh 1vw 1.5vh 1.4vw;
  font-size: 2vh;
}

.close_overlay {
  float:right;
  margin-top: 1vh;
  margin-right: 1vw;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.explore {
  width:100%;
  font-family: 'Montserrat', sans-serif;
  color: rgba(255, 255, 255, 0.8);
  font-size: 3.5vh;
  margin: 2vh 0vh 0vh 1.1vw;
}

.movies_welcome {
  width: 100%;
  font-family: 'Baro';
  color: coral;
  font-weight: 600;
  margin: -1vh 0vh 0vh 0.6vw;
  font-size: 9vh;
}

.y_scrollable_menu {/*
    height: auto;
    max-height: 24.4vh;*/
    overflow-x: hidden;
}

.genre_scrollable_menu {
    height: auto;
    max-height: 18.5vh;
    overflow-x: hidden;
}

.color_scrollable_menu {
    overflow-x: hidden;
}

.list_search {
  background-color: rgb(21,15,46);
  border: none;
  height: 3.8vh;
  padding: 1.1vw;
  color: #9c9a9a;
}

.list_search:focus {
  border: none;
  outline: none;
}

.tag {
  background-color: rgb(4, 117, 116);
  padding: 0.7vh 1.1vh 0.7vh 1.1vh;
  margin: 0px 0.9vh 0.9vh 0vh;
  display: inline-flex;
  font-size: 1.35vh;
  border-radius: 50px;
  pointer-events: none;
}

.tag:hover, .filter_tag:hover, .Action:hover, .Adventure:hover, .Animation:hover, .Comedy:hover, .Crime:hover, .Documentary:hover, .Drama:hover, .Family:hover, .Fantasy:hover, .History:hover, .Horror:hover, .Music:hover, .Mystery:hover, .Romance:hover, .Science:hover, .Thriller:hover, .War:hover, .Western:hover {
  background-color: #554794;
}

.help_image {
  width: 15vw;
}

.close_tag {
  pointer-events: auto;
  cursor: pointer;
}

.close_tag2 {
  pointer-events: auto;
  cursor: pointer;
}

.close_filter_tag {
  cursor: pointer;
  pointer-events: auto;
}

.close_tag3{
  float:right;
  margin-top: 1vh;
  margin-right: 1vw;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 0;
  cursor: pointer;
}

.filter_tag, .Action, .Adventure, .Animation, .Comedy, .Crime, .Documentary, .Drama, .Family, .Fantasy, .History, .Horror, .Music, .Mystery, .Romance, .Science, .Thriller, .War, .Western {
  padding: 0.7vh 1.1vh 0.7vh 1.1vh;
  margin: 0px 0.9vh 0.9vh 0vh;
  display: inline-flex;
  font-size: 1.35vh;
  border-radius: 50px;
  pointer-events: none;
}

.filter_tag {
  background-color: rgba(111, 129, 197,0.7);
}

.Action {
  background-color: #09ACB8;
}

.Adventure {
  background-color: #6fa8cf;
}

.Animation{
  background-color: #7781ee;
}

.Comedy {
  background-color: #2e7fb8;
}

.Crime {
  background-color: #3f9372;
}

.Documentary {
  background-color: #73b334;
}

.Drama {
  background-color: #6f837c;
}

.Family {
  background-color: #b9b18f;
}

.Fantasy {
  background-color: #7d6a89;
}

.History {
  background-color: #ea967d;
}

.Horror {
  background-color: #f1a9bb;
}

.Music {
  background-color: #b784de;
}

.Mystery {
  background-color: #b74b9c;
}

.Romance {
  background-color: #553e8f;
}

.Science {
  background-color: #f0624f;
}

.Thriller {
  background-color: #a23041;
}

.War {
  background-color: #713e45;
}

.Western {
  background-color: #e9b650;
}

.Genre_bubble {
  height:24.5vh;
}

.Genre_tags{
  margin-top: 1.1vh;
  height: auto;
  max-height: 16vh;
  overflow-x: hidden;
}

#filter_tag_holder {
  margin-top: 1.1vh;
  height: auto;
  max-height: 8vh;
  overflow-x: hidden;
}

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #6495ed;
  stroke-width: 1.5px;
}

.node--leaf:hover {
  stroke-width: 0px;
}

.node--root{
  pointer-events: none;
}

.label {
  font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

div.tooltip-title {
     position: absolute;
     text-align: center;
     padding: .5vh 0.8vh 0.5vh 0.8vh;
     background: #FBFAF5;
     color: #313639;
     border-radius: 8px;
     pointer-events: none;
     font-size: 1.5vh;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 1vh;
}

::-webkit-scrollbar-thumb {
  background-color: #463d6b;
  border-radius: 8px;
}

#menu ul {
  margin: 0;
  padding: 0;
}

#menu .main-menu {
  display: none;
}

#tm:checked + .main-menu {
  display: block;
}

#menu input[type="checkbox"], 
#menu ul span.drop-icon {
  display: none;
}

#menu li, 
#toggle-menu, 
#menu .sub-menu {
  border-style: solid;
  border-color: rgba(0, 0, 0, .05);
  border-radius: 5px;
}

#menu li, 
#toggle-menu {
  border-width: 0 0 1px;
}

#menu .sub-menu {
  background-color: #a081de;
  border-width: 1px 1px 0;
  margin: 0 1em;
}

#menu .sub-menu li:last-child {
  border-width: 0;
}

#menu li, 
#toggle-menu, 
#menu a {
  position: relative;
  display: block;
  color: rgba(255,255,255,0.8);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .125);
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.5vh;
  border-width: 0.01vh;
  border-color: rgba(255,255,255,0.85);
}

#menu, 
#toggle-menu {
}

#toggle-menu, 
#menu a {
  padding: 0.8vh 1vh 0.8vh 1vh;
}

#menu a {
  transition: all .125s ease-in-out;
  -webkit-transition: all .125s ease-in-out;
}

#menu a:hover {
  background-color: #554794;
}

#menu .sub-menu {
  display: none;
  border-width: 0.01vh;
  border-color: rgba(255,255,255,0.85);
  background-color: rgb(21, 15, 46);
}

#menu input[type="checkbox"]:checked + .sub-menu {
  display: block;
}

#menu .sub-menu a:hover {
}

#toggle-menu .drop-icon, 
#menu li label.drop-icon {
  position: absolute;
  right: 1.5em;
  top: 1.25em;
}

#menu label.drop-icon, #toggle-menu span.drop-icon {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  text-align: center;
  background-color: rgba(0, 0, 0, .125);
  text-shadow: 0 0 0 transparent;
  color: rgba(255, 255, 255, .85);
}

#menu .drop-icon {
  line-height: 1;
}

@media only screen and (max-width: 64em) and (min-width: 52.01em) {
  #menu li {
    width: 33.333%;
  }

  #menu .sub-menu li {
    width: auto;
  }
}

@media only screen and (min-width: 52em) {
  #menu .main-menu {
    display: block;
  }

  #toggle-menu, 
  #menu label.drop-icon {
    display: none;
  }

  #menu ul span.drop-icon {
    display: inline-block;
  }

  #menu li {
    float: left;
  }

  #menu .sub-menu li {
    float: none;
    border-width: 0 0 0.01vh 0;
    border-color: rgba(255,255,255,0.85);
  }

  #menu .sub-menu {
    border-width: 0.01vh;
    border-color: rgba(255,255,255,0.85);
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 12em;
    z-index: 3000;
  }
  
  .filter_box #menu .sub-menu {
    border-width: 0.01vh;
    border-color: rgba(255,255,255,0.85);
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 13em;
    z-index: 3;
  }

  #menu .sub-menu, 
  #menu input[type="checkbox"]:checked + .sub-menu {
    display: none;
  }

  #menu .sub-menu li {
    border-width: 0 0 0.01vh 0;
    border-color: rgba(255,255,255,0.85);
    border-radius: 0px;
  }

  #menu .sub-menu .sub-menu {
    top: 0;
    left: 100%;
  }

  #menu li:hover > input[type="checkbox"] + .sub-menu {
    display: block;
  }
}

  #actor_list, #genre_list {
  top: 0%;
  left: -101% !important;
  height: auto;
  max-height: 29.5vh;
  overflow-x: hidden;
}

 #director_list, #keyword_list {
  top: 0%;
  left: -101% !important;
  height: auto;
  max-height: 29.8vh;
  overflow-x: hidden;
}

#production_company_list {
  top: 0%;
  left: -101% !important;
  height: auto;
  max-height: 31.6vh;
  overflow-x: hidden;
}

.page-header {
  color: #fff;
  text-align: center;
  background-image: linear-gradient(120deg, #0f0c29, #24243e); }

@media screen and (min-width: 64em) {
  .page-header {
    padding: 5rem 6rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header {
    padding: 3rem 4rem; } }

@media screen and (max-width: 42em) {
  .page-header {
    padding: 2rem 1rem; } }

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem; }

@media screen and (min-width: 64em) {
  .project-name {
    font-size: 2.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name {
    font-size: 1.75rem; } }

@media screen and (max-width: 42em) {
  .project-name {
    font-size: 1.75rem; } }

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7; }

@media screen and (min-width: 64em) {
  .project-tagline {
    font-size: 1.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-tagline {
    font-size: 1.15rem; } }

@media screen and (max-width: 42em) {
  .project-tagline {
    font-size: 1rem; } }

.main-content :first-child {
  margin-top: 0; }
.main-content img {
  max-width: 100%; }
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #159957; }
.main-content p {
  margin-bottom: 1em; }
.main-content code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  color: #383e41;
  background-color: #f3f6fa;
  border-radius: 0.3rem; }
.main-content pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word-wrap: normal;
  background-color: #f3f6fa;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem; }
  .main-content pre > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0; }
.main-content .highlight {
  margin-bottom: 1rem; }
  .main-content .highlight pre {
    margin-bottom: 0;
    word-break: normal; }
.main-content .highlight pre, .main-content pre {
  padding: 0.8rem;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.45;
  border-radius: 0.3rem; }
.main-content pre code, .main-content pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0; }
  .main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after {
    content: normal; }
.main-content ul, .main-content ol {
  margin-top: 0; }
.main-content blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #819198;
  border-left: 0.3rem solid #dce6f0; }
  .main-content blockquote > :first-child {
    margin-top: 0; }
  .main-content blockquote > :last-child {
    margin-bottom: 0; }
.main-content table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all; }
  .main-content table th {
    font-weight: bold; }
  .main-content table th, .main-content table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec; }
.main-content dl {
  padding: 0; }
  .main-content dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold; }
  .main-content dl dd {
    padding: 0;
    margin-bottom: 1rem; }
.main-content hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0; }

@media screen and (min-width: 64em) {
  .main-content {
    max-width: 64rem;
    padding: 1rem 2rem;
    margin: 0 auto;
    font-size: 1.1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .main-content {
    padding: 1rem 2rem;
    font-size: 1.1rem; } }

@media screen and (max-width: 42em) {
  .main-content {
    padding: 2rem 1rem;
    font-size: 1rem; } }

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1; }

.site-footer-owner {
  display: block;
  font-weight: bold; }

.site-footer-credits {
  color: #819198; }

@media screen and (min-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (max-width: 64em) {
  .site-footer {
    font-size: 0.9rem; } }

@font-face {
    font-family: Baro;
    src: url("../Font/BaroStrip.otf") format("opentype");
}
